
# reading environment vars:
python-dotenv

# web application:
Flask==2.1.1

# auth (login with google via oauth):
Authlib==1.0.0

# database (cloud firestore):
firebase-admin==5.0.0

# production web server (for heroku):
gunicorn

# testing:
pytest
